@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 102vh;
    background-repeat: inherit;
    width: 100vw;
    background: #FFF;
    overflow: hidden;
}

header{
    font-family: 'Inter', sans-serif;
    top: 0;
    color: #FFF;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    -webkit-box-shadow: 2px 3px 29px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 29px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 29px -15px rgba(0,0,0,0.75);
    background: #FFFFFF;
}

.logo-etec{
    margin-left: 30%;
    width: 100%;
}

.header-logo{
    margin-left: 8%;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-decoration: none;
}

.header-links{
    margin-left: 60%;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
}

.header-links a{
    color: #0A0A0A;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}

.header-links a:hover{
    transform: translateY(-1.5px);
}

.header-links button{
    background-color: #D32222;
    border: none;
    width: 110px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.header-links button a{
    color: #FFF;
}

.header-links button{
    transform: translateY(-4px);
}

main{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

main h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #0A0A0A;
    font-size: 40px;
    text-align: center;
    text-decoration-line: underline;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 47vw;
    height: 70vh;
    margin-left: 4rem;
    background: #E0E0E0;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.50);
}

.info{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    gap: 10rem;
    margin-top: 2rem;
}

.links-container{
    display: flex;
    flex-direction: row;
    gap: 28rem;
    margin-top: 2rem;
}

.contato button{
    background-color: #D32222;
    border: none;
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
 .contato button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
 }

.contato button a{
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
}

.contato a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

button{
    background-color: #D32222;
    border: none;
    width: 12vw;
    height: 5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}
    button:hover{
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s ease;
    }

button a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

iframe{
    margin-top: 1rem;
    width: 40vw;
    height: 75%;
    border-radius: 20px;
    border: 3rem;
    border-color: #FFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}